HELP.md
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### applicationsyml ###
src/main/resources/application-credentials.yml

### MAC OS ###
*.DS_Store
~/*.DS_Store

### JAVA ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.class
*.log
