{{>layout/header}}

<h1>SpringBoot Login</h1>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      {{#userName}}
        Logged in as: <span id="user">{{userName}}</span>
        Role: <span id="role">{{userRole}}</span>   <!-- 역할 정보 추가 -->
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
      {{/userName}}
      {{^userName}}
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
        <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
      {{/userName}}
    </div>
  </div>
  <!-- ... 나머지 코드는 동일 ... -->

  <br>
  <!-- 목록 출력 영역 -->
</div>

{{>layout/footer}}